.Rproj.user
.Rhistory
.RData
.Ruserdata
rsconnect/documents/371-309.Rmd/learn.themethodsection.com/epg/371-309.dcf
*.dcf
*.html
css.zip
images.zip
test.pdf
test.Rmd
tutorial_randomization.R
Untitled.Rmd
